.customer-review-button {
    display: flex;
    border-radius: 8rem;
    border: none;
    justify-content: center;
    cursor: pointer;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }