
.hero-image-container {
    display: flex;
}

.hero-image-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 11%;
    top: 35vh;
    color: white;
}

.hero-image-text {
    color: white;
    font-size: 55px;
    width: 30vw;
}

.hero-image-image {
    width: 100vw;
}


.hero-image-small-nav {
    position: absolute;
    left: 2%;
    top: 24vh;
}

.hero-image-small-nav-text {
    color: #3577A1;
    text-decoration: none;
    font-size: small;
}