.pick-your-laptop-container {
   display:flex;
   align-items: center;
}

.pick-your-laptop-button {
    position: absolute;
    margin-top: 12rem;
    left: 63vw;
}

.pick-your-laptop-image {
    display:flex;
    width:100vw;
}