.pick-your-laptop-container {
   display:flex;
}

.pick-your-laptop-button {
    position: absolute;
    bottom: -265vh;
    left: 63vw;
}

.pick-your-laptop-image {
    display:flex;
    width:100vw;
}