
.navbar-row1-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.navbar-row1-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

