.top-bar-container {
    display: flex;
    flex-direction: row;
    background-color: #000000;
    justify-content: space-evenly;
    width: 100%;
}

.top-bar-text-right {
    justify-content: flex-end;
}
