

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color:"#3577A1";
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;;
    color:white;
    background-color: #EE8022;
    ;

}
